<!DOCTYPE html>
<html>
  <head>
    <title>酒店管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/service.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_jkvot6m5nu8.css">
</head>
  <body>
    <div class="all">
        <div class="header">
            <h1>酒店管理系统</h1>
            <img src="./images/manager.jpg" class="manager"/>
            <a href="/">退出登录</a>
        </div>
        <div class="slide">
            <a href="/user">
                <div class="nav" style="margin-top: 7%;">用户管理</div>
            </a>
            <a href="/room">
                <div class="nav">客房管理</div>
            </a>
            <a href="/reserve">
                <div class="nav">预订管理</div>
            </a>
            <a href="/order">
                <div class="nav">订单管理</div>
            </a>
            <a href="/service">
                <div class="nav" style="background: gray;">服务管理</div>
            </a>
            <a href="/comment">
                <div class="nav">评论管理</div>
            </a>
        </div>
        <div class="content">
            <h2 style="margin-left:5%;margin-top:3%">您搜索的结果是：</h2>
            <div class="serviceMain" style="margin-top:2%">
                <ul id="all">
                    <!-- <li>
                        <div class="servicehead">
                            <div class="servicetitle"><h3>序号</h3></div>
                            <div class="servicetitle"><h3>服务名称</h3></div>
                            <div class="servicetitle"><h3>价格</h3></div>
                            <div class="servicetitle" style="width: 36%;"><h3>详细信息</h3></div>
                            <div class="servicetitle"><h3>操作</h3></div>
                        </div>
                    </li> -->
    
                    <% for(var i = 0 ; i <  7; i++) {%>
                        <li>
                            <div class="servicebody">
                                <p class="servicecontent"><%= i+1 %></p>
                                <p class="servicecontent">-</p>
                                <p class="servicecontent">-</p>
                                <p class="servicecontent" style="width: 36%;overflow:hidden;">-</p>
                                <p class="servicecontent">
                                    <a class="edit" href="/editservice">
                                        编辑
                                    </a>
                                    <a class="del" id="del" style="margin-left: 5%">删除</a>
                                </p>
                            </div>
                        </li>
                    <% } %>  
                </ul>
            </div>
            <div class="pageBox">
                <div id="page"></div>
            </div>
            <a href="/service">
                <button class="return-button">返回</button>
            </a>
        </div>
    </div>
    <div id="pop-container">
        <div id="cover-tier" class="popPosition"></div>
        <div id="pop-tier" class="popPosition">
            <i id="close-pop" style="color:#e53834">&#10006;</i>
            <div class="iconfont icon-dui" style="color:#e53834;margin-top:20px">
                <span>确定要删除吗？</span>
            </div>
            <button id="sure">确定</button>
        </div>
    </div>
  </body>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript"></script>
  <script>
    var height = window.innerHeight;
    console.log(height-70); 
    $('.all').css('height',height);
    $('.slide').css('height',height-70);
    $('.content').css('height',height-70);

    //分页
    function getzz() {
        var a = $("ul#all li");
        var zz =new Array(a.length);
        for(var i=0;i <a.length;i++){
            zz[i]=a[i].innerHTML;
        }
        return zz;
    }
    function change(e){
        pageno=e;
        if(e<1){
            e=1;
            pageno=1;
        }
        if(e>pageall){
            e=pageall;
            pageno=pageall;
        }
        $("#all").html("");
        var html=' <li><div class="servicehead"><div class="servicetitle"><h3>序号</h3></div><div class="servicetitle"><h3>服务名称</h3></div><div class="servicetitle"><h3>价格</h3></div><div class="servicetitle" style="width: 36%;"><h3>详细信息</h3></div><div class="servicetitle"><h3>操作</h3></div></div></li> ';
        for(var i=0;i<pagesize;i++){
            html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';
            if(zz[(e-1)*pagesize+i+1]==null) break;
        }
        $("ul#all").html(html);
        var ye="";
        for(var j=1;j<=pageall;j++){
            if(e==j){
                ye=ye+"<span><a href='#' onClick='change("+j+")' style='color:#e53834'>"+j+"</a></span> ";
            }else{
                ye=ye+"<a href='#' onClick='change("+j+")'>"+j+"</a> ";
            }
        }
        var pageContent="";
        pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
        pageContent +='<span id="a1">'+pageall+'</span>页';
        pageContent +="<span id='a3' style='margin-left:10px'>"+ye+'</span>';
        pageContent +='<a href="#" style="margin-left:10px;" onClick="change(--pageno)">上一页</a>';
        pageContent +='<a href="#" style="margin-left:5px;" onClick="change(++pageno)">下一页</a>';
        $("#page").html(pageContent);
    }
    var zz = getzz();
    var pageno = 1 ; 
    var pagesize = 5; 
    if(zz.length%pagesize == 0){
        var pageall = zz.length/pagesize;
    }else{
        var pageall = parseInt(zz.length/pagesize) + 1;
    } 
    change(1);
  </script>
</html>
