<!DOCTYPE html>
<html>
  <head>
    <title>酒店管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/order.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_jkvot6m5nu8.css">
</head>
  <body>
    <div class="all">
        <div class="header">
            <h1>酒店管理系统</h1>
            <img src="./images/manager.jpg" class="manager"/>
            <a href="/">退出登录</a>
        </div>
        <div class="slide">
            <a href="/user">
                <div class="nav" style="margin-top: 7%;">用户管理</div>
            </a>
            <a href="/room">
                <div class="nav">客房管理</div>
            </a>
            <a href="/reserve">
                <div class="nav">预订管理</div>
            </a>
            <a href="/order">
                <div class="nav" style="background: gray;">订单管理</div>
            </a>
            <a href="/service">
                <div class="nav">服务管理</div>
            </a>
            <a href="/comment">
                <div class="nav">评论管理</div>
            </a>
        </div>
        <div class="content">
            <div style='margin-top: 2%;margin-left: 16%'>
                <p style='float:left;font-size: 1.3em;'>
                    用户名：xxxxxxx
                    <span style="margin-left: 15px;">房间号：202</span>
                </p>
                <a href="/order">
                    <button class="return-button2">返回</button>
                </a>
            </div>
            <div class="orderMain1">
                <ul id="all">
                    <!-- <li>
                        <div class="orderhead1">
                            <div class="ordertitle1"><h3>序号</h3></div>
                            <div class="ordertitle1"><h3>服务名称</h3></div>
                            <div class="ordertitle1"><h3>服务时间</h3></div>
                            <div class="ordertitle1"><h3>价格</h3></div>
                        </div>
                    </li> -->
                    
                    <% for(var i = 0 ; i <  3; i++) {%>
                        <li>
                            <div class="orderbody">
                                <p class="ordercontent1"><%= i+1 %></p>
                                <p class="ordercontent1">-</p>
                                <p class="ordercontent1">-</p>
                                <p class="ordercontent1">-</p>
                            </div>
                        </li>
                    <% } %>  
                </ul>
            </div>
            <p class="total">合 计：xx元&nbsp;&nbsp;&nbsp;</p>
            <div class="pageBox1">
                <div id="page"></div>
            </div>
        </div>
    </div>
  </body>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript"></script>
  <script>
    var height = window.innerHeight;
    console.log(height-70); 
    $('.all').css('height',height);
    $('.slide').css('height',height-70);
    $('.content').css('height',height-70);

    //分页
    function getzz() {
        var a = $("ul#all li");
        var zz =new Array(a.length);
        for(var i=0;i <a.length;i++){
            zz[i]=a[i].innerHTML;
        }
        return zz;
    }
    function change(e){
        pageno=e;
        if(e<1){
            e=1;
            pageno=1;
        }
        if(e>pageall){
            e=pageall;
            pageno=pageall;
        }
        $("#all").html("");
        var html=' <li><div class="orderhead1"><div class="ordertitle1"><h3>序号</h3></div><div class="ordertitle1"><h3>服务名称</h3></div><div class="ordertitle1"><h3>服务时间</h3></div><div class="ordertitle1"><h3>价格</h3></div></div></li> ';
        for(var i=0;i<pagesize;i++){
            html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';
            if(zz[(e-1)*pagesize+i+1]==null) break;
        }
        $("ul#all").html(html);
        var ye="";
        for(var j=1;j<=pageall;j++){
            if(e==j){
                ye=ye+"<span><a href='#' onClick='change("+j+")' style='color:#e53834'>"+j+"</a></span> ";
            }else{
                ye=ye+"<a href='#' onClick='change("+j+")'>"+j+"</a> ";
            }
        }
        var pageContent="";
        pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
        pageContent +='<span id="a1">'+pageall+'</span>页';
        pageContent +="<span id='a3' style='margin-left:10px'>"+ye+'</span>';
        pageContent +='<a href="#" style="margin-left:10px;" onClick="change(--pageno)">上一页</a>';
        pageContent +='<a href="#" style="margin-left:5px;" onClick="change(++pageno)">下一页</a>';
        $("#page").html(pageContent);
    }
    var zz = getzz();
    var pageno = 1 ; 
    var pagesize = 5; 
    if(zz.length%pagesize == 0){
        var pageall = zz.length/pagesize;
    }else{
        var pageall = parseInt(zz.length/pagesize) + 1;
    } 
    change(1);
  </script>
</html>
